:root {
  --dialog-max-width: 32rem;
  --floating-margin: 1.5rem;
  --element-spacing-xs: 0.125rem;
  --element-spacing-s: 0.5rem;
  --element-spacing-m: 0.75rem;
  --v-onboarding-step-z: 2000;
  --v-onboarding-step-arrow-background: rgb(var(--v-theme-primary));
}

ul {
  padding: revert;
}
ol {
  padding: revert;
}

.v-card:hover .v-card-title {
  color: rgb(var(--v-theme-primary));
}

.v-card:hover .v-card-item__prepend {
  color: rgb(var(--v-theme-primary));
}

.v-expansion-panel:hover .v-card-title {
  color: rgb(var(--v-theme-primary));
}

.v-icon:hover {
  color: rgb(var(--v-theme-primary));
}

.v-btn:hover {
  color: rgb(var(--v-theme-primary));
}

.v-list-item:hover {
  color: rgb(var(--v-theme-primary));
}

.v-breadcrumbs {
  .v-icon:hover {
    color: initial;
  }
}

.v-breadcrumbs-item--link:hover {
  text-decoration: none;
}

.v-breadcrumbs-item:hover {
  color: rgb(var(--v-theme-primary));
}

.v-expansion-panel:hover .v-badge__badge {
  background-color: rgb(var(--v-theme-primary));
  color: rgb(var(--v-theme-on-primary));
}

.v-carousel__controls {
  color: rgb(var(--v-theme-on-surface)) !important;
}

.v-messages__message {
  color: rgb(var(--v-theme-primary)) !important;
}

a {
  text-decoration: none;
  color: rgb(var(--v-theme-primary));
}
