/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// src/styles/settings.scss

// Import Vuetify settings
@use 'vuetify/settings' with (
  $color-pack: false,
);

:root {
    --dialog-width: 400px;
    --floating-margin: 1.5rem;
};

// custom styles
.hoverable-card:hover .v-card-title {
    color: rgb(var(--v-theme-primary));
}
.hoverable-panel:hover .title-ellipsis {
    color: rgb(var(--v-theme-primary));
}
.v-icon:hover {
    color: rgb(var(--v-theme-primary));
}
.v-btn:hover {
    color: rgb(var(--v-theme-primary));
}