/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// src/styles/settings.scss

// Import Vuetify settings
@use 'vuetify/settings' with (
  $color-pack: false,
); 

// custom styles
$primary-color: #ff266d;

.hoverable-card:hover .v-card-title {
    color: $primary-color;
}
.hoverable-panel:hover .title-ellipsis {
    color: $primary-color;
}
.v-icon:hover {
    color: $primary-color;
}
.v-btn:hover {
    color: $primary-color;
}