:root {
  --vp-c-brand-1: #ff266d;
  --vp-c-brand-2: #ff266d;
  --vp-c-brand-3: #ff266d;
  --vp-c-bg: #ffffff;
  --vp-c-bg-soft: #f9f9f9;
  --vp-c-bg-alt: #f9f9f9;
  --vp-c-bg-elv: #f9f9f9;
}

.dark {
  --vp-c-bg: rgb(18, 18, 18);
  --vp-c-bg-soft: #1e1e1e;
  --vp-c-bg-alt: #1e1e1e;
  --vp-c-bg-elv: #1e1e1e;
}

.VPHero .image {
  height: 20rem;
}
