name: CI

on:
  push:
    branches:
      - "main"
      - "deploy"
  pull_request:
    types: [opened, synchronize, reopened]
  # module book
  schedule:
    - cron: "0 8 15 2,9 *"
    - cron: "0 8 1 * *"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 23
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --strict-peer-dependencies

      - name: Install additional dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pdftk

      - name: Generate prisma schema types
        run: pnpm run --filter=api db:generate

      - run: pnpm -r typecheck
      - run: pnpm -r build
      - run: pnpm -r lint
      - run: pnpm -r prettier
      - run: pnpm -r test
